<div id="menu">


    {{#link-to "main.index" tagName="li" }}
        <a {{bind-attr href="view.href"}}><i class=""></i>Projects</a>
    {{/link-to}}



    {{#link-to "main.account" tagName="li"}}
        <a {{bind-attr href="view.href"}}><i class=""></i>Account</a>
    {{/link-to}}

</div>