<div class="col-lg-12">
    Enter project name :
</div>

<div class="col-lg-12 top15">
    {{view App.NotEmptyTextField class="form-control focus" placeholder="Enter a project name" elementId="projectNameText"}}
</div>
