<div class="col-lg-12">
    Enter project name :
</div>

<div class="col-lg-12 top15">
    {{view App.NotEmptyTextField class="form-control focus" placeholder="Enter a project name" elementId="projectNameText"}}
</div>


<div class="row mediumtopmargin row-fluid col-lg-12">
    <div class="row col-lg-12 text-center">
        <div class="row col-lg-6 text-left">
            <div class="col-lg-5 text-grey">
                API / Access Key
            </div>
            <div class="col-lg-1 text-grey text-right">
                <i class="fa fa-question-circle" data-original-title="Configure this project" data-toggle="tooltip"></i>
            </div>
            <div class="col-lg-6">
                <hr/>
            </div>
        </div>
        <div class="col-lg-1 text-left">
            <a {{action showChangeAppName}} href="#">Edit</a>
        </div>
        <div class="col-lg-4">
        </div>
        <br/>
    </div>
</div>


