<div class="row-fluid col-lg-12 text-center">
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    <br/>
    You do not have any databases created.
    <br/>
    <br/>

    {{#link-to "project.database.create.index" tagName="a" class="btn btn-primary btn-lg"}}
        Create a Database
    {{/link-to}}

</div>