<div class="form-group mediumtopmargin">
    <label class="control-label col-lg-4">Password</label>

    <div class="col-lg-8">
        {{view App.NotEmptyTextField type="password" isValidOnFocusOutFeedbackMsgBinding="errorMsg" valueBinding="password" placeholder="Enter your password to confirm." class="passwordTextField" elementId="password"}}
    </div>
    <br/>
</div>