<div class="row">

    <br/>

    <div class="col-lg-12">


        <div class="text-center">
            <h3>Select the API Key</h3>
            <div class="col-lg-4"></div>
            <div class="col-lg-4">
                {{view App.SelectTextField class="form-control col-lg-6" contentBinding="providers" valueBinding="selected_provider" optionValuePath="content" optionLabelPath="content.name" elementId="selected_provider"}}
            </div>
            <div class="col-lg-4"></div>
        </div>



    </div>

</div>